.sidebar-hide{
    display: none;
}

.sidebar-show{
    display: block;
    width: 25%;
}


.headerContainer{
    width: 100%;
    background-color:black;
    color: white;
    padding: 14px 16px;
    font-size: 17px;
    margin: none;
    /* display: block; */
    /* border: 2px solid green; */
}

.tabLink {
    background-color:black;
    color: white;
    /* float: left; */
    /* border: 2px solid red; */
    outline: none;
    cursor: pointer;
    /* padding: 14px 16px; */
    font-size: 17px;
    text-align: center;
    margin: none;
    width: 100%;
}

.store-icon-header{
    height: 20px;
    width: 20px;
}

.store-icon{
    height: 50px;
    width: 50px;
}

.social-media-icon{
    height: 50px;
    width: 50px;
    margin: 1px;
    cursor: pointer;
}

.social-media-section{
    display: inline;
}

.footer-section{
    background-color: black;
    bottom: 0px;
    position: relative;
    width: 100%;
    margin: none;
    padding: 20px;
    color: white;
}

.footer-links{
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px 2px; 
    padding-left: 0px;

}

.footer-about-section{
    box-sizing: border-box;
    padding: 10px;
    margin-left: 10px;
}

.footer-links:hover{
    text-decoration: none;
    color: grey;
}

.copyright-section{
    text-align:center;
    font-size: 12px;
}